{% extends 'base.html' %}
{% block body %}
<div class="container p-2">
    <h1 class="text-center fw-bold my-3">List of Products</h1>
    <table class="table table-bordered align-middle">
        <thead>
          <tr>
            <th scope="col">Sno.</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
            {% for product in products %}
            
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{product.product_name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td><a href={% url 'update-product' product.id %} class="btn btn-primary">Update</a>
                </td>
            </tr>
            {% endfor %}
          
        </tbody>
      </table>
</div>
{% endblock body %}